.container {
  max-width: 1024px;
  margin:0 auto;
  padding: .0rem .1rem .0rem .5rem;
}

.page {
  min-height: 512px;
}

.mb-2{
  margin-bottom: 2rem;
}

button {
  background: #FFF;
  border: 1px solid #d3d3d3;
}

html, body{
  margin:0; padding:0;
}