import Layout from '@layouts/default'

<${Layout} title="Home">
    <@body>
      <div.container>
        <h1>Streaming test</h1>
        <search on-change("onSearchChange")/>
        <br/>
        <if(state.search)>
          <text-stream/>
        </if>
      </div>
    </@body>
</>


style.scss {
  h1 {
    color: #B4DA55;
  }
  .container {
    br {
      margin-bottom: 100px;
    }
  }
}