import Layout from '@layouts/default'

style.sass {
  h1 {
    color: #B4DA55;
  }
}

<${Layout} title="Home">
    <@body>
      <div>
        <h1>Home</h1>
        <p>This is the home page.</p>
        <p>Build Time: 0s</p>
      </div>
    </@body>
</>
